<section>
    <div ng-show="user">
        <br/>
        <div ng-hide="isRoot">
            <div class="jumbotron jumbotron-sm" ng-hide="user.resetPassword">
                <h3>请先修改密码</h3>
                <p>您还在使用初始的密码“xiaoshu”，可能会导致您的账户不安全，请尽快修改您的密码。</p>
                <a class="btn btn-danger btn-lg" href="#resetPasswordDialog" data-toggle="modal" role="button">立即修改密码</a>
            </div>

            <div class="jumbotron jumbotron-sm">
                <h3>开始使用阳光书包</h3>
                <p>阳光书包可以让您方便地为学生推送学习资源，您可以自己上传或从网络资源库中选择与课程相关的资源，为每个班级创建文件夹，并将这些内容分配给班级，让学生在自己的晓书上看到！还等什么？开始试用吧！</p>
                <a class="btn btn-success btn-lg" href="/#/sunpack" role="button">开始使用阳光书包</a>
            </div>
        </div>

        <div ng-show="isRoot">
            <!--<div class="page-header">-->
            <a class="btn btn-primary pull-right" href="#createSchoolDialog" data-toggle="modal"><i class="fa fa-plus"></i> 添加学校</a>

            <h4>所有学校</h4>
            <!--</div>-->
            <!--<hr/>-->
            <br/>
            <table class="table">
                <tr>
                    <th>学校名称</th>
                    <th>学校代号</th>
                    <th>所在地</th>
                    <th>服务器域名</th>
                    <th>VPN IP</th>
                    <th>服务器状态</th>
                    <th>编辑</th>
                </tr>

                <tr ng-repeat="school in schools">
                    <td><a ng-href="/#/schools/{{school._id}}">{{school.name}}</a></td>
                    <td>{{school.code}}</td>
                    <td>{{school.address}}</td>
                    <td>{{school.serverUrl}}</td>
                    <td>{{school.serverIP}}</td>
                    <td>{{school.serverStatus}}</td>
                    <td><a href="" class="text-success" ng-click="showEditSchoolDialog($index)" ><i class="fa fa-edit fa-1x"></i></a></td>
                </tr>
            </table>


            <br/>
            <br/>
            <br/>
            <br/>
            <hr/>
            <p>
                注： 学校代号用于自动创建学生用户时用户名的前缀 （用户名命名规则： 学校代号+班级编号+学号）
            </p>

        </div>
    </div>
</section>


<!--------------------------MODAL---------------------------------------->

<div class="modal fade" id="createSchoolDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">新建学校</h4>
            </div>
            <div class="modal-body">
                <form class="form-group" name="schoolForm"  novalidate="">
                    <input type="text"  name="name" class="form-control" placeholder="*学校名称" ng-model="newSchool.name" required>
                    <input type="text" style="margin-top:10px" name="admin" class="form-control" placeholder="*学校管理员用户名" ng-model="newSchool.admin" required>
                    <input type="text" style="margin-top:10px" name="code" class="form-control" placeholder="*学校代号" ng-model="newSchool.code" required>
                    <input type="text" style="margin-top:10px" name="address" class="form-control" placeholder="学校所在地" ng-model="newSchool.address">
                    <input type="text" style="margin-top:10px" name="serverUrl" class="form-control" placeholder="学校服务器域名 (选填)" ng-model="newSchool.serverUrl">
                    <input type="text" style="margin-top:10px" name="serverIP" class="form-control" placeholder="学校服务器IP (选填)" ng-model="newSchool.serverIP" ng-pattern='/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/'>
                    <p ng-show="schoolForm.serverIP.$invalid && !schoolForm.serverIP.$pristine" class="help-block">IP格式不正确</p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" type="submit" ng-click="createSchool(schoolForm.$valid)" ng-disabled="schoolForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="editSchoolDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑学校</h4>
            </div>
            <div class="modal-body">
                <form name="editForm" class="form-group" >
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校名</span></button></span>
                        <input type="text" tabindex="1" id="newName" class="form-control" placeholder="" ng-model="temp.newName" required>
                    </div>
                    <br>
                    <div class="input-group input-group-lg">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">&nbsp;&nbsp;学校代号</span></button></span>
                        <input type="text" tabindex="2" id="newCode" class="form-control"  placeholder="" ng-model="temp.newCode" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">学校所在地</span></button></span>
                        <input type="text" tabindex="3" id="newAddress" class="form-control"  placeholder="" ng-model="temp.newAddress">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">服务器域名</span></button></span>
                        <input type="text" tabindex="4" id="newServerUrl" class="form-control" placeholder="" ng-model="temp.newServerUrl">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务器IP</span></button></span>
                        <input type="text" tabindex="5" id="newServerIP" class="form-control" placeholder="" ng-model="temp.newServerIP">
                    </div>
                </form>
                <span style="color: red" ng-show="error">修改失败，可能由于学校代号或名称已存在。请修改后重试。</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success btn-lg"  tabindex="6" ng-click="editSchool()" ng-disabled="editForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="resetPasswordDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">重设密码</h4>
            </div>
            <div class="modal-body">
                <form name="resetPasswordForm" class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="fui-lock">&nbsp;原密码</span></button></span>
                        <input type="text" id="currentPassword" class="form-control" placeholder="请输入当前密码"  ng-model="passwordDetails.currentPassword" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="fui-lock">&nbsp;新密码</span></button></span>
                        <input type="text" id="newPassword" class="form-control" placeholder="请输入新密码"  ng-model="passwordDetails.newPassword" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">确认新密码</span></button></span>
                        <input type="text" id="verifyPassword" class="form-control" placeholder="确认新密码" ng-model="passwordDetails.verifyPassword" required>
                    </div>
                </form>
                <span style="color: red" ng-show="error">{{error}}</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" ng-click="resetPassword()" ng-disabled="resetPasswordForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>
