/*.list-group-item.active {*/
    /*background-color: red !important;*/
/*}*/
a.list-group-item-success.active, a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
    /*background-image: none !important;*/
    background-image: linear-gradient(to bottom, #32CD32 0%, #7CCD7C 100%) !important;
    border-color: #ffffff !important;
}

/*style.css*/
.gridStyle {
    border: none;
    margin-top: 20px;
    width: 100%;
}

.error-msg {
    color: #ff0000;
}

.badge.badgeStyle1 {
    background-color: #8ef13c;
}

.badge.badgeStyle2 {
    background-color: lightgray;
    color: black;
}
.myrooms {
    margin-top: 65px;
}

#roomsList{
    margin-top: 20px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/*.navbar-unread{*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*background-color: #E74C3C;*/
    /*right: 6px;*/
    /*top: 14%;*/
/*}*/

.class-header{
    /*background-color: #00A352;#f3f9f1;*/
    background-color: #f0f0f4;
    padding: 5px 25px 10px;
    border-radius: 6px;
    color: darkgreen;
    /*font-weight: 300;*/
    max-font-size: 10;
    margin-top: 8px;
}
/*.remove-stu{*/
    /*opacity:0;*/
    /*margin-right: 20px;*/
/*}*/

/*tr:hover .remove-stu{*/
    /*opacity:1;*/
/*}*/
/*td{*/
    /*position: relative;*/
/*}*/
/*td .label-danger{*/
    /*position: absolute;*/
    /*left: 0px;*/
/*}*/

/*.opacity50{*/
    /*opacity: .5;*/
/*}*/

