
<div>
    <div class="page-header" style="margin-top:20px">
        <span  ng-hide="editorEnabled">
            <span class="h3">{{app.name}}</span>&nbsp;
            <a href="" ng-click="enableEditor()" class="glyphicon glyphicon-edit" ng-show="isRootOrAdminOrSelf"></a>
        </span>

        <span ng-show="editorEnabled" class="form-inline">
            <input type="text" style="color: black; font-size: large" class="form-control" ng-model="editablename"/>
            <a role="button" ng-click="save()" class="btn btn-primary btn-info glyphicon glyphicon-ok" >保存</a>
            <a role="button" ng-click="disableEditor()" class="btn btn-default glyphicon glyphicon-remove" >取消</a>
        </span>
        &nbsp;&nbsp;
        <span class="onoffswitch-app" style="margin-top:15px;margin-left:10px" ng-show="isRootOrAdminOrSelf">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox-app" id="myonoffswitch" ng-model="default_installed" ng-change="changeOption()">
            <label class="onoffswitch-label-app" for="myonoffswitch">
                <span class="onoffswitch-inner-app"></span>
                <span class="onoffswitch-switch-app"></span>
            </label>
        </span>

          <span class="bootstrap-switch-square" ng-show="isSelf" style="margin-left:180px;margin-top: -10px">
            <input type="checkbox" data-size="xx-large" checked data-toggle="switch" data-on-text="共享" data-off-text="不共享" data-handle-width="200px" data-label-width="200px" name="shareSwitch" id="shareSwitch" />
        </span>

        <span class="pull-right">
            <a ng-show="isRootOrAdminOrSelf" role="button" class="btn btn-primary" href="#uploadApkDialog" data-toggle="modal"><i class="glyphicon glyphicon-cloud-upload"></i> 上传安装包</a>
            <a role="button" class="btn btn-primary" href="" ng-click="toAssignApp()"><i class="glyphicon glyphicon-gift"></i> 分配给班级</a>
            <a role="button" ng-click="back()" class="btn btn-inverse"> <i class=" glyphicon glyphicon-chevron-left"></i>返回</a>
        </span>

        <!--<div>是否共享：<i class="fa fa-share-alt"></i>-->
            <!--<div class="bootstrap-switch-square">-->
                <!--<input type="checkbox" data-toggle="switch" id="custom-switch-04" />-->
            <!--</div>-->
            <!--<span class="bootstrap-switch-square">-->
            <!--<input type="checkbox" checked data-toggle="switch" id="custom-switch-03" data-on-text="<span class='fui-check'></span>" data-off-text="<span class='fui-cross'></span>" />-->
            <!--</span>-->
        <!--</div>-->
        <!--<div>是否共享:</div>-->
        <div>内部包名: <span ng-show="app.package" class="inline">{{app.package}}</span><span ng-hide="app.package"><span class="label label-default inline">暂无</span></span></div>
        <div>分配班级:
             <span ng-repeat="room in myRoomsAssigned" class="row-fluid" ng-show="myRoomsAssigned.length">
            <a class="label label-success label-lg inline" ng-href="/#/rooms/{{room._id}}">{{room.name}}</a>
            </span>
            <span  ng-hide="myRoomsAssigned.length">
                <span class="label label-default">暂无</span>
            </span>
        </div>
    </div>

    <div ng-show="app.apks.length">
        <div class="table">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
    <div ng-hide="app.apks.length" align="center">
        <h3>还没有任何安装包</h3>
        <a role="button" class="btn btn-primary btn-success" href="#uploadApkDialog" data-toggle="modal" ng-show="isRootOrAdminOrSelf"><span class="glyphicon glyphicon-cloud-upload"></span> 上传安装包</a>
    </div>
</div>

<!--------------------------------Modal--------------------->
<div class="modal fade" id="assignAppDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="overflow-y:scroll">
    <div class='modal-dialog modal-sm' style="left: auto">
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">分配给班级</h4>
            </div>
            <div class='modal-body'>
                <!--<button ng-click="checkAll()">check all</button>-->
                <!--<button ng-click="uncheckAll()">uncheck all</button>-->
                <!--<label ng-repeat="room in myRooms">-->
                    <!--<input type="checkbox" checklist-model="selectedRooms2" checklist-value="room._id"> {{ room.name}}-->
                <!--</label>-->
                <!--selected：{{selectedRooms2}}-->
                <!--<!--<button class="btn btn-success pull-right" ng-click="assignToRooms()"> 分配</button>-->
                <div align="right">
                    <button class="btn btn-primary" ng-click="checkAll()">全选</button>
                    <button class="btn btn-inverse" ng-click="uncheckAll()">全不选</button>
                </div>
                <hr/>
                <ul class="assign-class" ng-show="myRooms.length">
                    <li  ng-repeat="room in myRooms">
                        <checkbox small class="btn-success" style="margin-top:2px" data-ng-model="selected[$index]"></checkbox> &nbsp;&nbsp;{{room.name}}
                    </li>
                </ul>

            </div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-default  " data-dismiss="modal">取消</button>&nbsp;&nbsp;
                    <button class="btn btn-success " ng-click="assignToRooms()"> 分配</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="uploadApkDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="overflow-y:scroll">
    <div class='modal-dialog' style="left: auto">
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">上传安装包</h4>
            </div>
            <div class='modal-body'>
                <div align="center">
                    <!--<input type="file" nv-file-select uploader="uploader">-->
                    <div class="form-group" style="margin-bottom: -9px">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-inverse btn-embossed btn-file">
                                      <span class="fileinput-new"><span class="fa fa-cloud-upload"></span> 上传安装包</span>
                                      <span class="fileinput-exists"><span class="fa fa-cloud-upload"></span> 上传安装包</span>
                                      <input type="file" name="..." nv-file-select uploader="uploader">
                                    </span>
                            <span class="fileinput-exists"> 一次只能上传一个文件</span>
                            <!--<span class="fileinput-filename"></span>-->
                            <!--<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>-->
                        </div>
                    </div>
                    <span style="color: red" ng-show="error.extension">只能上传后缀名为apk的文件</span>
                    <span style="color: red" ng-show="error.limit">一次只能上传一个文件，请删除其他文件</span>
                    <span style="color: red" ng-show="error.package">此文件内部包名和之前包名不一致， 请确认该安装包是否正确。 <br/>
                        若确认正确，请先删除之前已上传的安装包。</span>
                </div>

                <br>
                <div ng-show="uploader.queue.length">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="30%">文件名</th>
                        <th ng-show="uploader.isHTML5">大小</th>
                        <!--<th ng-show="uploader.isHTML5">Progress</th>-->
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <!--<td ng-show="uploader.isHTML5">-->
                            <!--<div class="progress" style="margin-bottom: 0;">-->
                                <!--<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>-->
                            <!--</div>-->
                        <!--</td>-->
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok text-success"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle text-inverse"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove text-danger"></i></span>
                        </td>
                        <td nowrap>
                            <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                                <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
                                <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
                            <!--</button>-->
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>


                    <div>
                        上传进度:
                        <div class="progress" style="">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-s" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-circle"></span> 关闭
                        </button>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.queue[0].upload()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> 上传
                        </button>
                    </div>
                    <br>
                    <br>

                    <!--<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">-->
                        <!--<span class="glyphicon glyphicon-trash"></span> 删除-->
                    <!--</button>-->

            </div>
        </div>
    </div>
</div>


