<div class="room-header">
    <h4 id="room-name" class="navbar-brand" style="color:white">{{room.name}}</h4>
    <a href="" onclick="window.history.back()" class="navbar-brand pull-right"> <i class="glyphicon glyphicon-chevron-left"></i>返回 &nbsp;&nbsp;</a>
</div>
<div class="tab-content">
    <ul class="nav nav-tabs" id="roomTabs">
        <li class="active"><a href="#room-tab-studentsList" data-toggle="tab" id="room-btn-studentsList" class="tableTitle">学生列表({{students.length}}人)</a></li>
        <li><a href="#room-tab-teachersList" data-toggle="tab" id="room-btn-teachersList" class="tableTitle">教师列表({{teachers.length}}人)</a></li>
    </ul>
    <div class="tab-pane fade in active" id="room-tab-studentsList">

        <div ng-show="students.length">
            <div class="pull-right">
                <a class="btn btn-primary "  ng-click="toAddStudents()">从学生列表中添加</a>
                <a class="btn btn-primary " id="room-btn-createStudents" href="#addStudentsBatchDialog2" data-toggle="modal">批量创建并添加</a>
            </div>
            <br>
            <div class="table">
                <div class="gridStyle style1"  ng-grid="gridOptions1" ng-click="selectStudent()"></div>
            </div>
        </div>
        <div ng-hide="students.length">
            <h3 align="center">还没有任何学生，您可以</h3>
            <div align="center">
                <a class="btn btn-success "  href="#addStudentsBatchDialog" data-toggle="modal">批量创建并添加</a> 或者
                <a class="btn btn-success "  ng-click="toAddStudents()">从学生列表中添加</a>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="room-tab-teachersList">
        <div ng-show="teachers.length">
            <a class="btn btn-primary pull-right fui-check" ng-click="toAddTeachers()">指派管理老师</a>
            <br>
            <div class="table">
                <div class="gridStyle style1"  ng-grid="gridOptions3" ng-click="selectTeacher()"></div>
            </div>
        </div>
        <div ng-hide="teachers.length">
            <h3 align="center">还没有任何老师，您可以</h3>
            <div align="center">
                <a class="btn btn-success" ng-click="toAddTeachers()">指派管理老师</a>
            </div>
        </div>

    </div>



</div>

<!--**************************Modal***************************-->
<div class="modal fade" id="addStudentsDialog" tabindex="-1" role="dialog" aria-labelledby="addStudentsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addStudentsModalLabel">添加学生</h4>
            </div>
            <div class="modal-body">
                <div class="inner-addon left-addon" style="margin-top:10px">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control"  placeholder="搜索" ng-model="filterOptions.filterText"/>
                </div>
                <div class="table">
                    <div class="gridStyle style2"  ng-grid="gridOptions2"></div>
                </div>
                <div ng-if="!isCreatingStudent" class="pull-right">
                    <button class="btn btn-success pull-right" ng-click="toCreateStudent()">创建学生</button>
                    <p class="pull-right">想添加的学生不在此列表中?&nbsp;&nbsp;</p>
                </div>
                <div ng-if="isCreatingStudent">
                    <form class="form-group form-inline pull-right" name="newStudentForm">
                        <!--<label for="inputKey">Key</label>-->
                        <input type="text" class="form-control" placeholder="*新学生姓名"  ng-model="newStudent.name" required >
                        <!--<label for="inputValue">Value</label>-->
                        <input type="text" class="form-control" placeholder="*新学生用户名"  ng-model="newStudent.username" required>
                        <button class="btn btn-success" ng-click="createStudent()" ng-disabled="newStudentForm.$invalid">创建</button>
                        <button class="btn btn-inverse" ng-click="cancelCreateStudent()">取消</button>
                    </form>
                </div>
                <br>
                <br>
                <!--<br>-->
                <button class="btn btn-primary  btn-block" ng-click="addStudentsToRoom()">添加</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStudentsBatchDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">批量创建添加学生</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills nav-justified">
                    <li ng-class="{'active': manualState}"><a ng-click="toAddManual()">手动创建</a></li>
                    <li ng-class="{'active': autoState}"><a ng-click="toAddAuto()">自动创建</a></li>
                </ul>
                <div ng-show="manualState" class="col-md-12">
                    <br>
                    <form name="manualForm">
                        <li>请把学生姓名，用户名逐行输入到文本框中（也可以直接从电子文档中复制粘贴）</li>
                        <br>
                        <li>如果学生不存在，创建并加入班级; 如果学生已存在，则自动加入该班级</li>
                        <br>
                        <li>每行一个学生，请按照如下格式输入：</li>
                        <br>
                        <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名1，用户名1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 或 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 姓名1 &nbsp;  用户名1 </p>
                        <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名2，用户名2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   姓名2 &nbsp; 用户名2 </p>
                        <span style="color: red" ng-show="errorMessage">由于以下学生姓名-用户名与数据库中不一致，请修改后重试。</span>

                        <textarea ng-model="newStudentsList" style="height: 200px" placeholder="姓名1， 用户名1
姓名2， 用户名2" class="form-control" required></textarea>

                        <p>提示：分隔符可以使用半角逗号、全角逗号和空格。</p>
                    </form>
                </div>
                <div ng-show="autoState" class="col-md-12">
                    <br>
                        <li>请您把学生姓名逐行输入到下方的文本框中（也可以直接从电子文档中复制粘贴）</li>
                        <br>
                        <li>每行请只输入一个名字</li>
                        <br>
                        <li>我们会按照输入顺序自动生成学生用户名（推荐您按照学号顺序输入）</li>
                        <br>
                        <li>生成的学生用户名格式为：学校代号+班级代号+数字</li>
                        <br>
                        <div ng-show="!room.code">
                            <div ng-if="!isAddingCode">
                                <button class="btn btn-warning pull-right" ng-click="toAddCode()">添加班级代号</button>
                                <p class="pull-right" style="color:orangered">您还没有添加班级代号 &nbsp;</p>
                                <br>
                            </div>
                            <div ng-show="isAddingCode">
                                <form class="form-group form-inline pull-right" name="addCodeForm">
                                    <input type="text" class="form-control" ng-model="newCode" placeholder="请输入班级代号" required>
                                    <button class="btn btn-success" ng-click="addCode()" ng-disabled="addCodeForm.$invalid">添加</button>
                                    <button class="btn btn-inverse" ng-click="cancelAddCode()">取消</button>
                                </form>
                            </div>
                            <br>
                        </div>
                    <form name="autoForm">
                    <textarea class="form-control" rows="10" placeholder="学生姓名1
学生姓名2" ng-model="newNamesList" required></textarea>
                        <br>
                        <span style="color: red" ng-show="temp.student_count_max">班级人数不能超过100人</span>
                    </form>
                </div>
                <button ng-show="manualState" type="submit" class="btn btn-default btn-success btn-block" ng-click="manualCreateStudents()" ng-disabled="manualForm.$invalid">添加</button>
                <button ng-show="autoState" type="submit" class="btn btn-default btn-success btn-block"  ng-click="autoCreateStudents()" ng-disabled="autoForm.$invalid || !room.code">生成</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStudentsBatchDialog2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">批量创建添加学生</h4>
            </div>
            <div class="modal-body">
                <form name="manualForm">
                        <li>请把学生姓名，用户名逐行输入到文本框中（也可以直接从电子文档中复制粘贴）</li>
                        <br>
                        <li>如果学生不存在，创建并加入班级; 如果学生已存在，则自动加入该班级</li>
                        <br>
                        <li>每行一个学生，请按照如下格式输入：</li>
                        <br>
                        <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名1，用户名1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 或 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 姓名1 &nbsp;  用户名1 </p>
                        <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名2，用户名2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   姓名2 &nbsp; 用户名2 </p>
                        <span style="color: red" ng-show="errorMessage">由于以下学生姓名-用户名与数据库中不一致，请修改后重试。</span>

                        <textarea ng-model="newStudentsList" style="height: 200px" placeholder="姓名1， 用户名1
姓名2， 用户名2" class="form-control" required></textarea>

                        <p>提示：分隔符可以使用半角逗号、全角逗号和空格。</p>
                    </form>
                </div>

                <button type="submit" class="btn btn-default btn-success btn-block" ng-click="manualCreateStudents()" ng-disabled="manualForm.$invalid">添加</button>
            <br>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="addTeachersDialog" tabindex="-1" role="dialog" aria-labelledby="addTeachersModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addTeachersModalLabel">指派管理教师</h4>
            </div>
            <div class="modal-body">
                <div class="inner-addon left-addon" style="margin-top:10px">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control"  placeholder="搜索" ng-model="filterOptions4.filterText"/>
                </div>
                <div class="table">
                    <div class="gridStyle style2"  ng-grid="gridOptions4"></div>
                </div>
                <div ng-if="!isCreatingTeacher" class="pull-right">
                    <button class="btn btn-success pull-right" ng-click="toCreateTeacher()">创建老师</button>
                    <p class="pull-right">想添加的老师不在此列表中?&nbsp;&nbsp;</p>
                    <br>
                    <br>
                </div>
                <div ng-if="isCreatingTeacher">
                    <form class="form-group form-inline pull-right" name="newTeacherForm">
                        <!--<label for="inputKey">Key</label>-->
                        <input type="text" class="form-control" placeholder="*新老师姓名"  ng-model="newTeacher.name" required >
                        <!--<label for="inputValue">Value</label>-->
                        <input type="text" class="form-control" placeholder="*新老师用户名"  ng-model="newTeacher.username" required>
                        <button class="btn btn-success" ng-click="createTeacher()" ng-disabled="newTeacherForm.$invalid">创建</button>
                        <button class="btn btn-inverse" ng-click="cancelCreateTeacher()">取消</button>
                    </form>
                </div>
                <button class="btn btn-primary  btn-block" ng-click="addTeachersToRoom()">添加</button>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary fui-check pull-right" ng-click="addTeachers()">添加</button>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑学生</h4>
            </div>
            <div class="modal-body">
                <form name="editForm" class="form-group">
                    <div class="form-inline">
                        <label for="newStudentName">&nbsp;&nbsp;&nbsp;姓名</label>
                        <input type="text" id="newStudentName" class="form-control" style="width:400px" placeholder="新姓名" ng-model="student.newName" required>
                    </div>
                    <br>
                    <br>
                    <div class="form-inline">
                        <label for="newStudentUsername">用户名</label>
                        <input type="text" id="newStudentUsername" class="form-control" style="width:400px" placeholder="新用户名" ng-model="student.newUsername" required>
                    </div>
                </form>
                <span style="color: red" ng-show="editStudentError">修改失败，可能由于用户名已存在。请修改用户名后重试。</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success btn-lg" ng-click="editStudent(row)" ng-disabled="editForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editTeacherDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑老师</h4>
            </div>
            <div class="modal-body">
                <form name="editForm2" class="form-group">
                    <div class="form-inline">
                        <label for="newName">&nbsp;&nbsp;&nbsp;姓名</label>
                        <input type="text" id="newName" class="form-control" style="width:400px" placeholder="新姓名" ng-model="teacher.newName" required>
                    </div>
                    <br>
                    <div class="form-inline">
                        <label for="newUsername">用户名</label>
                        <input type="text" id="newUsername" class="form-control" style="width:400px" placeholder="新用户名" ng-model="teacher.newUsername" required>
                    </div>
                    <br>
                    <div class="form-inline">
                        <label for="newPhone">&nbsp;&nbsp;&nbsp;电话</label>
                        <input type="text" id="newPhone" class="form-control" style="width:400px" placeholder="电话号码" ng-model="teacher.newPhone">
                    </div>
                    <br>
                    <div class="form-inline">
                        <label for="newEmail">&nbsp;&nbsp;&nbsp;邮箱</label>
                        <input type="text" id="newEmail" class="form-control" style="width:400px" placeholder="邮箱" ng-model="teacher.newEmail">
                    </div>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="teacher.isAdmin"/> &nbsp;&nbsp;&nbsp;是否具有超级管理员权限

                </form>
                <span style="color: red" ng-show="editTeacherError">修改失败，可能由于用户名已存在。请修改用户名后重试。</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success btn-lg" ng-click="editTeacher(row)" ng-disabled="editForm2.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createTeacherDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">创建老师</h4>
            </div>
            <div class="modal-body">

                <form name="teacherForm" class="form-group">
                    <!--<label for="teacherName">姓名</label>-->
                    <input type="text" id="teacherName" class="form-control" placeholder="*新老师姓名" ng-model="newTeacher.name" required>
                    <br>
                    <!--<label for="teacherUsername">用户名</label>-->
                    <input type="text" id="teacherUsername" class="form-control" placeholder="*新老师用户名" ng-model="newTeacher.username" required>
                    <br>
                    <input type="checkbox" ng-model="newTeacher.isAdmin"/> 是否具有超级管理员权限
                </form>
                <span style="color: red" ng-show="errorMessage">{{errorMessage}}</span>


            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" ng-click="createTeacher(teacherForm.$valid)" ng-disabled="teacherForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="duplicatesDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <!--<div class="table" style="width:50%;float:left">-->
                    <!--<div class="gridStyle style2"  ng-grid="gridOptions5"></div>-->
                <!--</div>-->
                <!--<div class="table" style="width:50%;float:left">-->
                    <!--<div class="gridStyle style2"  ng-grid="gridOptions6"></div>-->
                <!--</div>-->
                <table border="1" cellpadding="0" cellspacing="0" style="width:50%;float:left">
                    <caption>您的输入</caption>
                    <tbody>
                    <tr>
                        <th>选择</th>
                        <th>姓名</th>
                        <th>用户名</th>
                    </tr>
                    <tr ng-repeat="student in dupList">
                        <td><input type="checkbox" ng-model="selectednow[$index]" ng-click="dbOrNow($index)"/></td>
                        <td> {{student.now.name}}</td>
                        <td> {{student.now.username}}</td>
                    </tr>
                    </tbody>
                </table>
                <table border="1" cellpadding="0" cellspacing="0" style="width:50%;float:left">
                    <caption>数据库</caption>
                    <tbody>
                    <tr>
                        <th>选择</th>
                        <th>姓名</th>
                        <th>用户名</th>
                    </tr>
                    <tr ng-repeat="student in dupList">
                        <td><input type="checkbox" ng-model="selecteddb[$index]" ng-click="nowOrDb($index)"/></td>
                        <td> {{student.db.name}}</td>
                        <td> {{student.db.username}}</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <button class="btn btn-success" ng-click="duplicateCreate()">确定</button>

            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-defautl" data-dismiss="modal">取消</button>-->
            </div>
        </div>
    </div>
</div>





