<!--<div class="sun-header">-->
    <!--<h4 id="room-name" class="navbar-brand sun-name">{{room.name}}</h4>-->
    <!--<a href="" onclick="window.history.back()" class="navbar-brand pull-right"> <i class="glyphicon glyphicon-chevron-left"></i>返回 &nbsp;&nbsp;</a>-->
<!--</div>-->

<div class="page-header">
    <h4>{{room.name}}
        <small style="color: #3498db">{{room.school.name}}</small>
        <span class="pull-right">
            <span class="sun-id">id: {{room._id}}</span>
            <button class="btn btn-inverse" onclick="window.history.back()"> <i class="glyphicon glyphicon-chevron-left"></i>返回 &nbsp;&nbsp;</button>
        </span>

    </h4>
</div>
<div class="">
    <ul class="nav nav-tabs nav-append-content" id="roomTabs">
        <li class="active"><a href="#room-tab-studentsList" data-toggle="tab" id="room-btn-studentsList" class="tableTitle">学生列表({{students.length}}人)</a></li>
        <li><a href="#room-tab-teachersList" data-toggle="tab" id="room-btn-teachersList" class="tableTitle">教师列表({{teachers.length}}人)</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="room-tab-studentsList">
            <div ng-if="students.length">
                <div class="pull-right" ng-show="isAdminOrRoot">
                    <a class="btn btn-primary "  ng-click="toAddStudents()">从学生列表中添加</a>
                    <a class="btn btn-primary " id="room-btn-createStudents" href="#addStudentsBatchDialog" data-toggle="modal">批量创建并添加</a>
                </div>
                <br>
                <div class="table">
                    <div class="gridStyle style1"  ng-grid="gridOptions1"></div>
                </div>
                <!--<table class="table  table-hover">-->
                    <!--<th>姓名</th>-->
                    <!--<th>用户名</th>-->
                    <!--<th>生日</th>-->
                    <!--<th>正在使用的晓书</th>-->
                    <!--<th>编辑</th>-->
                    <!--<tr ng-repeat="student in students" href="">-->
                        <!--<td><a href=""  ng-click="selectStudent(student._id)">{{student.name}}</a></td>-->
                        <!--<td>{{student.username}}</td>-->
                        <!--<td>{{student.birthday}}</td>-->
                        <!--<td>-->
                          <!--<div ng-show="student.tablet"><a href="/#/tablets/{{student.tabletId}}">{{student.tablet}}</a></div><div ng-hide="student.tablet"><span class="label label-default">暂无</span></div>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<a class="fui-new text-success" ng-click="showEditStudentDialog($event, student)"></a> &nbsp;&nbsp;-->
                            <!--<a class="fui-cross-circle text-danger" ng-click="removeStudentFromRoom($event, student)"></a>-->
                        <!--</td>-->
                    <!--</tr>-->

                <!--</table>-->
            </div>
            <div ng-if="!students.length">
                <h3 align="center">还没有任何学生</h3>

                <div align="center" ng-show="isAdminOrRoot">
                    <a class="btn btn-primary "  href="#addStudentsBatchDialog" data-toggle="modal">批量创建并添加</a> 或者
                    <a class="btn btn-primary "  ng-click="toAddStudents()">从学生列表中添加</a>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="room-tab-teachersList">
            <div ng-if="teachers.length">
                <a class="btn btn-primary pull-right" ng-click="toAddTeachers()" ng-show="isAdminOrRoot">指派管理老师</a>
                <br>
                <div class="table">
                    <div class="gridStyle style1"  ng-grid="gridOptions3" ng-click="selectTeacher()"></div>
                </div>
            </div>
            <div ng-if="!teachers.length">
                <h3 align="center">还没有任何老师</h3>
                <div align="center" ng-show="isAdminOrRoot">
                    <a class="btn btn-primary" ng-click="toAddTeachers()">指派管理老师</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!--**************************Modal***************************-->
<div class="modal fade" id="addStudentsDialog" tabindex="-1" role="dialog" aria-labelledby="addStudentsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addStudentsModalLabel">添加学生</h4>
            </div>
            <div class="modal-body">
                <div class="inner-addon left-addon" style="margin-top:10px">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control"  placeholder="搜索" ng-model="filterOptions.filterText"/>
                </div>
                <p style="color: #2980b9">已选学生：{{selectedStudents.length}}人</p>
                <div class="table">
                    <div class="gridStyle style2"  ng-grid="gridOptions2"></div>
                </div>
                <div ng-hide="isCreatingStudent" class="pull-right">
                    <button class="btn btn-success pull-right" ng-click="toCreateStudent()">创建学生</button>
                    <p class="pull-right">想添加的学生不在此列表中?&nbsp;&nbsp;</p>
                </div>
                <div ng-show="isCreatingStudent">
                    <form class="form-group form-inline pull-right" name="newStudentForm">
                        <input type="text" class="form-control" placeholder="*新学生姓名"  ng-model="newStudent.name" required>
                        <input type="text" class="form-control" placeholder="*新学生用户名"  ng-model="newStudent.username" required>
                        <button class="btn btn-success" ng-click="createStudent()" ng-disabled="newStudentForm.$invalid">创建</button>
                        <button class="btn btn-inverse" ng-click="cancelCreateStudent()">取消</button>
                    </form>
                </div>
                <br>
                <br>
                <!--<br>-->
                <button class="btn btn-primary  btn-block" ng-click="addStudentsToRoom()">添加</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStudentsBatchDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">批量创建添加学生</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills nav-justified">
                    <li ng-class="{'active': manualState}"><a ng-click="toAddManual()">手动创建</a></li>
                    <li ng-class="{'active': autoState}"><a ng-click="toAddAuto()">自动创建</a></li>
                </ul>
                <div ng-show="manualState" class="col-md-12">
                    <br>
                    <form name="manualForm">
                        <li>请把学生姓名，用户名逐行输入到文本框中（也可以直接从电子文档中复制粘贴）</li>
                        <li>我们会创建该学生账号并添加到该班级</li>
                        <li>如果您想添加已存在的学生，请去所有学生列表添加</li>
                        <li>每行一个学生，请按照如下格式输入：</li>
                        <br>
                        <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名1，用户名1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 或 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 姓名1 &nbsp;  用户名1 </p>
                        <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名2，用户名2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   姓名2 &nbsp; 用户名2 </p>
                        <!--<span style="color: red" ng-show="temp.manualCreateError">以下学生创建失败，可能由于用户名已存在，请修改用户名后重试</span>-->
                        <p style="color: red" ng-show="error.unique">由于用户名已存在，以下学生创建失败，请修改用户名后重试</p>
                        <p style="color: red" ng-show="error.format">输入格式不正确，请修改后重试</p>
                        <p style="color: red" ng-show="error.username">用户名只能包含字母、数字、“-”、“_”、“@”、“.”</p>
                        <p style="color: red" ng-show="error.name">姓名只能包含中文、数字、字母</p>

                        <textarea ng-model="newStudentsList" style="height: 200px" placeholder="姓名1， 用户名1
姓名2， 用户名2" class="form-control" required></textarea>

                        <p>提示：分隔符可以使用半角逗号、全角逗号和空格。</p>
                    </form>
                </div>
                <div ng-show="autoState" class="col-md-12">
                    <br>
                        <li>请您把学生姓名逐行输入到下方的文本框中（也可以直接从电子文档中复制粘贴）</li>
                        <!--<br>-->
                        <li>每行请只输入一个名字</li>
                        <!--<br>-->
                        <li>我们会按照输入顺序自动生成学生用户名（推荐您按照学号顺序输入）</li>
                        <!--<br>-->
                        <li>生成的学生用户名格式为：学校代号+班级代号+数字</li>
                        <br>

                    <div ng-show="!room.code">
                            <div ng-if="!isAddingCode">
                                <button class="btn btn-success pull-right" style="margin-top:-5px" ng-click="toAddCode()">添加班级代号</button>
                                <p class="pull-right" style="color:orangered">您还没有添加班级代号 &nbsp;</p>
                                <br>
                            </div>
                            <div ng-show="isAddingCode">
                                <form class="form-group form-inline pull-right" name="addCodeForm">
                                    <input type="text" class="form-control" ng-model="newCode" placeholder="请输入班级代号" required>
                                    <button class="btn btn-success" ng-click="addCode()" ng-disabled="addCodeForm.$invalid">添加</button>
                                    <button class="btn btn-default" ng-click="cancelAddCode()">取消</button>
                                </form>
                            </div>
                            <br>
                        </div>
                    <form name="autoForm">
                    <textarea class="form-control" rows="10" placeholder="学生姓名1
学生姓名2" ng-model="newNamesList" required></textarea>
                        <br>
                        <span style="color: red" ng-show="error.maxlength">班级人数不能超过100人</span>
                        <span style="color: red" ng-show="error.auto">批量创建学生失败，请重试，或者手动创建</span>
                    </form>
                </div>
                <button ng-show="manualState" type="submit" class="btn btn-success btn-block" ng-click="manualCreateStudents()" ng-disabled="manualForm.$invalid">添加</button>
                <button ng-show="autoState" type="submit" class="btn btn-success btn-block"  ng-click="autoCreateStudents()" ng-disabled="autoForm.$invalid || !room.code">生成</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addTeachersDialog" tabindex="-1" role="dialog" aria-labelledby="addTeachersModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addTeachersModalLabel">指派管理教师</h4>
            </div>
            <div class="modal-body">
                <div class="inner-addon left-addon" style="margin-top:10px">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control"  placeholder="搜索" ng-model="filterOptions4.filterText"/>
                </div>
                <div class="table">
                    <div class="gridStyle style2"  ng-grid="gridOptions4"></div>
                </div>
                <div ng-hide="isCreatingTeacher" class="pull-right">
                    <button class="btn btn-success pull-right" ng-click="toCreateTeacher()">创建老师</button>
                    <p class="pull-right">想添加的老师不在此列表中?&nbsp;&nbsp;</p>
                    <br>
                    <br>
                </div>
                <div ng-show="isCreatingTeacher">
                    <form class="form-group form-inline pull-right" name="newTeacherForm">
                        <input type="text" class="form-control" placeholder="*新老师姓名"  ng-model="newTeacher.name" required >
                        <input type="text" class="form-control" placeholder="*新老师用户名"  ng-model="newTeacher.username" required>
                        <button class="btn btn-success" ng-click="createTeacher()" ng-disabled="newTeacherForm.$invalid">创建</button>
                        <button class="btn btn-inverse" ng-click="cancelCreateTeacher()">取消</button>
                    </form>
                </div>
                <button class="btn btn-primary  btn-block" ng-click="addTeachersToRoom()">添加</button>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-primary fui-check pull-right" ng-click="addTeachers()">添加</button>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑学生</h4>
            </div>
            <div class="modal-body">
                <form name="editForm" class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-user">姓名</span></button></span>
                        <input tabindex="1" type="text" class="form-control" id="newStudentName" placeholder="新姓名" ng-model="student.newName" required/>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><span>用户名</span></button>
                        </span>
                        <input tabindex="2" type="text" class="form-control" id="newStudentUsername" placeholder="新用户名" ng-model="student.newUsername" required/>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-calendar">生日</span></button>
                        </span>
                        <input tabindex="3" type="text" class="form-control" name="birthday" placeholder="yyyy-mm-dd  (如 2000-01-01)" ng-model="student.newBirthday" ng-pattern="/^(\d{4})\-(\d{2})\-(\d{2})$/"/>
                    </div>
                    <span class="sun-error" ng-show="editForm.birthday.$error.pattern">生日格式应为 yyyy-mm-dd，如 2000-01-01.<br/>如果只知道月份不知道是哪天，请统一使用1号</span>

                </form>
                <span style="color: red" ng-show="error">修改失败，可能由于用户名已存在。请修改用户名后重试。</span>
                <span style="color: red" ng-show="editStudentError">修改失败，可能由于用户名已存在。请修改用户名后重试。</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button tabindex="4" class="btn btn-success btn-lg" ng-click="editStudent(row)" ng-disabled="editForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editTeacherDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑老师</h4>
            </div>
            <div class="modal-body">
                <form name="editForm2" class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="fui-user">姓名</span></button></span>
                        <input tabindex="5" type="text" id="newName" class="form-control"  placeholder="新姓名" ng-model="teacher.newName" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">用户名</span></button></span>
                        <input tabindex="6" type="text" id="newUsername" class="form-control"  placeholder="新用户名" ng-model="teacher.newUsername" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="glyphicon glyphicon-phone">电话</span></button></span>
                        <input tabindex="7"  type="text" id="newPhone" class="form-control"  placeholder="电话号码" ng-model="teacher.newPhone">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="glyphicon glyphicon-envelope">邮箱</span></button></span>
                        <input tabindex="8" type="text" id="newEmail" class="form-control" placeholder="邮箱" ng-model="teacher.newEmail">
                    </div>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <!--<label for="adminCheckbox"><input type="checkbox" id="adminCheckbox" ng-model="teacher.isAdmin"/></label>&nbsp;&nbsp;&nbsp;是否具有超级管理员权限-->
                    <label class="checkbox" for="checkbox1">
                        <input tabindex="9" type="checkbox" data-toggle="checkbox" ng-model="teacher.isAdmin" id="checkbox1">   是否具有超级管理员权限
                    </label>

                </form>
                <span style="color: red" ng-show="editTeacherError">修改失败，可能由于用户名已存在。请修改用户名后重试。</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button tabindex="10" class="btn btn-success btn-lg" ng-click="editTeacher(row)" ng-disabled="editForm2.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createTeacherDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">创建老师</h4>
            </div>
            <div class="modal-body">

                <form name="teacherForm" class="form-group">
                    <!--<label for="teacherName">姓名</label>-->
                    <input type="text" id="teacherName" class="form-control" placeholder="*新老师姓名" ng-model="newTeacher.name" required>
                    <br>
                    <!--<label for="teacherUsername">用户名</label>-->
                    <input type="text" id="teacherUsername" class="form-control" placeholder="*新老师用户名" ng-model="newTeacher.username" required>
                    <br>
                    <input type="checkbox" ng-model="newTeacher.isAdmin"/> 是否具有超级管理员权限
                </form>
                <span style="color: red" ng-show="errorMessage">{{errorMessage}}</span>


            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" ng-click="createTeacher(teacherForm.$valid)" ng-disabled="teacherForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>


<!--<div class="modal fade" id="duplicatesDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class='modal-dialog'>-->
        <!--<div class='modal-content'>-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>-->
                <!--<h4 class="modal-title"></h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--&lt;!&ndash;<div class="table" style="width:50%;float:left">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="gridStyle style2"  ng-grid="gridOptions5"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="table" style="width:50%;float:left">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="gridStyle style2"  ng-grid="gridOptions6"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<table border="1" cellpadding="0" cellspacing="0" style="width:50%;float:left">-->
                    <!--<caption>您的输入</caption>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<th>选择</th>-->
                        <!--<th>姓名</th>-->
                        <!--<th>用户名</th>-->
                    <!--</tr>-->
                    <!--<tr ng-repeat="student in dupList">-->
                        <!--<td><input type="checkbox" ng-model="selectednow[$index]" ng-click="dbOrNow($index)"/></td>-->
                        <!--<td> {{student.now.name}}</td>-->
                        <!--<td> {{student.now.username}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                <!--<table border="1" cellpadding="0" cellspacing="0" style="width:50%;float:left">-->
                    <!--<caption>数据库</caption>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<th>选择</th>-->
                        <!--<th>姓名</th>-->
                        <!--<th>用户名</th>-->
                    <!--</tr>-->
                    <!--<tr ng-repeat="student in dupList">-->
                        <!--<td><input type="checkbox" ng-model="selecteddb[$index]" ng-click="nowOrDb($index)"/></td>-->
                        <!--<td> {{student.db.name}}</td>-->
                        <!--<td> {{student.db.username}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                <!--<br>-->
                <!--<br>-->
                <!--<button class="btn btn-success" ng-click="duplicateCreate()">确定</button>-->

            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--&lt;!&ndash;<button class="btn btn-defautl" data-dismiss="modal">取消</button>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->





