.tooltip-inner {
    max-width: 600px !important;
    padding: 12px 12px;
    line-height: 1.286;
    color: #fff;
    background-color: #34495e;
    border-radius: 6px;
}

.checkbox-noshadow {
    outline: none;
    border: none !important;
    -webkit-appearance:none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}