<div class="container-fluid">
    <!--<div class="jumbotron" style="margin-top:-40px">-->
        <h4 class="tableTitle pull-left">所有学生  &nbsp;&nbsp;</h4>
        <div class=" pull-right" style="margin-top:10px">
            <a role="button" class="btn btn-primary " href="#createStudentDialog" data-toggle="modal"><i class="fa fa-user"></i> 创建学生</a>
            <a role="button" class="btn btn-primary " href="#createStudentBatchDialog" data-toggle="modal"><i class="fa fa-users"></i> 批量创建</a>
        </div>

        <div class="inner-addon left-addon pull-left" style="margin-top:10px">
            <i class="glyphicon glyphicon-search"></i>
            <input autofocus type="search" class="form-control" style="width: 250px"  placeholder="搜索" ng-model="filterOptions.filterText"/>
        </div>
    <!--</div>-->
    <br/><br/>
    <div class="table">
        <div class="gridStyle style1" ng-grid="gridOptions" ng-click="selectStudent()"></div>
    </div>

</div>


<div class="modal fade" id="createStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">创建学生</h4>
            </div>
            <div class="modal-body">
                <form  name="studentForm" class="form-group">
                    <input type="text" class="form-control" placeholder="*新学生姓名" ng-model="newStudent.name" required>
                    <br>
                    <input type="text" class="form-control" placeholder="*新学生用户名" ng-model="newStudent.username" required>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-calendar">生日</span></button></span>
                            <input type="text" class="form-control" name="birthday" placeholder="yyyy-mm-dd  (如 2000-01-01)" ng-model="newStudent.birthday" ng-pattern="/^(\d{4})\-(\d{2})\-(\d{2})$/"/>
                    </div>
                    <span class="sun-error" ng-show="studentForm.birthday.$error.pattern">生日格式应为 yyyy-mm-dd，如 2000-01-01.<br/>如果只知道月份不知道是哪天，请统一使用1号</span>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" ng-click="createStudent()" ng-disabled="studentForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createStudentBatchDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">批量创建学生</h4>
            </div>
            <div class="modal-body">
                <form name="studentBatchForm">
                    <div>
                        <p>每行一个学生，请按照如下格式输入：</p>
                        <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名1，用户名1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 或 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 姓名1 &nbsp;  用户名1 </p>
                        <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名2，用户名2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   姓名2 &nbsp; 用户名2 </p>
                    </div>
                    <span style="color: red" ng-show="errorMessage">由于用户名已存在，以下学生创建失败，请修改用户名后重试</span>

                    <textarea ng-model="newStudentsList" style="height: 200px" class="form-control" required></textarea>

                    <p>提示：分隔符可以使用半角逗号、全角逗号和空格。</p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" ng-click="createStudentBatch(studentBatchForm.$valid)" ng-disabled="studentBatchForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑学生</h4>
            </div>
            <div class="modal-body">
                <form name="editForm" class="form-group">
                    <!--<div class="form-inline">-->
                        <!--<label for="newName">&nbsp;&nbsp;&nbsp;姓名</label>-->
                        <!--<input type="text" id="newName" class="form-control" style="width:400px" placeholder="新姓名" ng-model="temp.newName" required>-->
                    <!--</div>-->
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-user">姓名</span></button></span>
                        <input type="text" class="form-control" id="newName" placeholder="新姓名" ng-model="temp.newName" required/>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><span>用户名</span></button></span>
                        <input type="text" class="form-control" id="newUsername" placeholder="新用户名" ng-model="temp.newUsername" required/>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-calendar">生日</span></button></span>
                        <input type="text" class="form-control" name="birthday" placeholder="yyyy-mm-dd  (如 2000-01-01)" ng-model="temp.newBirthday" ng-pattern="/^(\d{4})\-(\d{2})\-(\d{2})$/"/>
                    </div>
                    <span class="sun-error" ng-show="editForm.birthday.$error.pattern">生日格式应为 yyyy-mm-dd，如 2000-01-01.<br/>如果只知道月份不知道是哪天，请统一使用1号</span>

                </form>
                <span style="color: red" ng-show="error">修改失败，可能由于用户名已存在。请修改用户名后重试。</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success btn-lg" ng-click="editStudent(row)" ng-disabled="editForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>
