<div>
    <div class="container-fluid">
        <div align="center" style="margin-top:50px">
            <ul class="nav nav-pills  " style="display:table;margin:0 auto">
                <li ng-class="{true: 'inactive', false: 'active'}[showingAllApps]"><a href="" ng-click="showMyRooms()">班级应用程序分配</a></li>
                <li ng-class="{true: 'active', false: 'inactive'}[showingAllApps]"><a href="" ng-click="showAllApps()">所有应用程序</a></li>
            </ul>
        </div>


        <!-- Tab content -->
        <div class="">
            <div class="pill-pane active" id="allApps" ng-show="showingAllApps">
                <div class="pull-right" style="margin-top:20px">
                    <a role="button" class="btn btn-primary" href="#createAppDialog" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i>添加应用程序</a>
                </div>
                    <span class="inner-addon left-addon pull-right" style="margin-top:20px; margin-right:10px">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="search" class="form-control" style="width: 250px"  placeholder="搜索" ng-model="filterOptions.filterText"/>
                    </span>
                <br>
                <br>

                <div class="table">
                    <div class="gridStyle" ng-grid="gridOptions" ng-click="selectApp()"></div>
                </div>
            </div>

            <div class="pill-pane" id="myRooms" ng-hide="showingAllApps">
                <div ng-show="myRooms.length">
                    <div class="col-lg-4 col-md-4" style="margin-top:-5px">
                        <h4 align="center">我的班级</h4>
                        <ul id="roomsList" class="list-group">
                            <li ng-repeat="roomItem in myRooms"  ng-class="{active: roomItem.isActive}" style="list-style-type:none" >
                                <a ng-click="selectOneRoom(roomItem)" href="" class="list-group-item list-group-item-success" ng-class="{active: roomItem.isActive}">
                                    {{roomItem.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <h4 align="center">{{selectedRoom.name}}的应用程序</h4>
                        <div class="myapps">
                            <table class="table" ng-show="appsOfRoom.length">
                                <caption><h6 align="center" style="color:#27ae60">已经推送的应用程序</h6></caption>
                                <tr ng-repeat="app in appsOfRoom">
                                    <td><a href="" ng-click="goToApp(app._id)">{{app.name}}</a></td>
                                    <td></td>
                                    <td>
                                        <div>
                                            <i class="fa fa-tablet fa-2x"></i>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="" role="button" class="fa fa-minus-circle fa-2x  text-danger" ng-click="removeAppFromRoom(app)"></a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div ng-hide="appsOfRoom.length" align="center">
                                <br/>
                                {{selectedRoom.name}} 还没有任何应用程序
                                <br/>
                                <br/>
                            </div>
                        </div>
                        <div class="appsNotAssigned">
                            <table class="table" ng-show="otherApps.length">
                                <caption><h6 align="center">候选应用</h6></caption>
                                <tr ng-repeat="app in otherApps">
                                    <td><a href="" ng-click="goToApp(app._id)">{{app.name}}</a></td>
                                    <td><div><a href="" role="button" class="fa fa-plus-circle fa-2x  text-success" ng-click="addAppToRoom(app)"></a></div></td>
                                </tr>
                            </table>
                            <div ng-hide="otherApps.length">
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="myRooms.length">
                    <br/>
                    <br/>
                    <div align="center">
                        <h4>您还没有任何班级</h4>
                        <a class="btn btn-success" href="/#/profile"><i class="fa fa-share"></i> 去认领班级</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--------------------------------Modal--------------------->

<div class="modal fade" id="createAppDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="overflow-y:scroll">
    <div class='modal-dialog' style="left: auto">
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">添加应用程序</h4>
            </div>
            <div class='modal-body'>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <input class="form-control" placeholder="请输入应用程序中文名称" ng-model="newAppName">
                        <div class="input-group-btn">
                            <button type="button" class="btn  btn-success"
                                    ng-click="createApp()">添加</button>
                        </div>
                    </div>
                    <span ng-show="temp.error=='noName'" class="error-msg">请填写应用程序名称</span>
                    <span ng-show="temp.error=='alreadyHave'" class="error-msg">已存在此应用程序，请修改名称</span>
                    <span ng-show="temp.error=='failure'" class="error-msg">创建失败，可能由于此名称已存在，请重试</span>

                </div>
            </div>
        </div>
    </div>
</div>
