<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 col-sm-2 col-lg-1">
                <!--<ul class="nav nav-pills nav-stacked" style="margin-left:-100px">-->
                    <!--<li role="presentation" ng-repeat="item in items" ng-class="{active: $state.current.name===item.state}">-->
                        <!--<a style="text-align: center" href=""  ng-click="goto(item.state)"> {{item.name}}</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <div class="list-group manage-nav" style="margin-left: -100px">
                    <a class="list-group-item" href="" style="text-align: center" ng-repeat="item in items" ng-click="goto(item.state)" ng-class="{active: $state.current.name===item.state}">{{item.name}}</a>
                </div>
                <div ></div>
            </div>

            <div class="col-10 col-sm-10 col-lg-11 offset-0">
                <div ui-view></div>
            </div>
        </div>

    </div>
</div>

