<div>
    <div class="centered" ng-hide="mytablet">
        <p class="xiaoshu">您还没有登录晓书，请先登录.</p> <br/>
        <p class="xiaoshu2">您的登录用户名为：<strong>{{me.username}}</strong></p>
    </div>
    <div ng-show="mytablet">
        <ul class="nav nav-tabs" style="margin-top:50px">
            <li class="active" ><a href="#details" data-toggle="tab" >晓书详情</a></li>
            <li ><a href="#myApps" data-toggle="tab">安装的应用程序</a></li>
            <li ><a href="#myFiles" data-toggle="tab">文件</a></li>
        </ul>
        <div id="subtab-container">
            <div id="subtab-tab-content" class="tab-content">
                <div class="tab-pane fade in active col-md-12" id="details">
                    <br/>
                    <br/>
                    <table width="40%">
                        <tr>
                            <td>晓书编号</td>
                            <td>{{mytablet.machine_id}}</td>
                        </tr>
                        <tr>
                            <td>操作系统</td>
                            <td>{{mytablet.OS_type}}</td>
                        </tr>
                        <tr>
                            <td>系统版本</td>
                            <td>{{mytablet.OS_version}}</td>
                        </tr>
                        <tr>
                            <td>上次登录</td>
                            <td>{{mytablet.lastLogin}}</td>
                        </tr>
                        <tr>
                            <td>上次更新</td>
                            <td>{{mytablet.lastUpdate}}</td>
                        </tr>
                    </table>

                </div>
                <div class="tab-pane fade col-md-12" id="myApps">

                </div>

                <div class="tab-pane fade col-md-12" id="myFiles">

                </div>

            </div>
        </div>
    </div>
</div>