<div>
    <div class="centered" ng-hide="mytablet">
        <p class="xiaoshu">您还没有登录晓书，请先登录.</p> <br/>
        <p class="xiaoshu2">您的登录用户名为：<strong>{{me.username}}</strong></p>
    </div>
    <div ng-show="mytablet">

        <div class="tabbable" style="margin-top:40px">
            <ul class="nav nav-tabs nav-append-content">
                <li class="active"><a href="#details">晓书详情</a></li>
                <li><a href="#myApps">安装的应用程序</a></li>
                <li><a href="#myFiles">文件</a></li>
            </ul> <!-- /tabs -->
            <div class="tab-content">
                <div class="tab-pane active" id="details">
                    <br/>
                    <table width="40%">
                        <tr>
                            <td>晓书编号</td>
                            <td>{{mytablet.machine_id}}</td>
                        </tr>
                        <tr>
                            <td>操作系统</td>
                            <td>{{mytablet.OS_type}}</td>
                        </tr>
                        <tr>
                            <td>系统版本</td>
                            <td>{{mytablet.OS_version}}</td>
                        </tr>
                        <tr>
                            <td>上次登录</td>
                            <td>{{mytablet.lastLogin}}</td>
                        </tr>
                        <tr>
                            <td>上次更新</td>
                            <td>{{mytablet.lastUpdate}}</td>
                        </tr>
                    </table>                </div>
                <div class="tab-pane" id="myApps">
                    <p>Howdy, I'm in Section 2.</p>
                </div>
                <div class="tab-pane" id="myFiles">
                    <p>Howdy, I'm in Section 3.</p>
                </div>
            </div> <!-- /tab-content -->
        </div>
    </div>
</div>