.navbar-text.watermark {
    color: deepskyblue;
}

.room-header {
    margin-top: 10px;
    background-image:linear-gradient(to bottom left, #8cc540,#009f5d);
    border-radius: 6px;
    height: 50px;
}

.sun-name {
    font-size: xx-large;
    color: #006400;
}

.bootstrap-switch {
    overflow: visible !important;
    /*data-handle-width: 100px !important;*/
    /*data-label-width: 100px !important;*/
}

.sun-id {
    font-size: small;
    color: #30dff3;
}

.sun-error {
    color: #ff0000;
}
.app-header{
    background-color: #00A352;
    padding: 5px 25px 10px;
    border-radius: 6px;
    color: white;
    margin-top: 8px;
    height: 100px;
}

.sun-header{
    /*background-color: #00A352;#f3f9f1;*/
    background-color: #f0f0f4;
    padding: 5px 25px 10px;
    border-radius: 6px;
    color: darkgreen;
    margin-top: 10px;
    height: 70px;
    vertical-align: text-bottom;
}
.assign-class-list-long-false {
    list-style-type: none;
}
.assign-class-list-long-true {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    /*-moz-columns: 2;*/
}


/*.roomView {*/
    /*margin-top: 100px;*/
/*}*/

/*.style2 {*/
    /*background-color: #008B00 !important;*/
    /*background-color: white !important;*/
    /*color: black;*/
    /*bottom: 0;*/
    /*color: #ffffff !important;*/
    /*position: absolute;*/
    /*top: 0;*/
/*}*/

.style2 .ngHeaderCell {
    /*background-color: #008B00 !important;*/
    background-color: white !important;
    color: black !important;
    bottom: 0;
    /*color: #ffffff !important;*/
    position: absolute;
    top: 0;
}
.style2 .ngViewport{
    width: auto !important;
    height: auto !important;
    /*min-height:100px !important;*/
    max-height: 350px !important;
}

.style2 .ngRow {
    background-color: white !important;
}

.style2 .ngRow.selected {
    background-color: #AFDD22 !important;
}

.style1 .ngRow.hover {
    background-color: red !important;
}

.style1 {
    width: 100%;
}

.ngHeaderCell {
    background-color: #008B00 !important;
    /*background-color: white;*/
    /*color: black;*/
    bottom: 0;
    color: #ffffff !important;
    position: absolute;
    top: 0;
}
.ngCellElement:focus {
    outline: 0;
    background-color: #ff0000;
}
/******** Rows ********/
.ngRow {
    position: absolute;
    width: 100% !important;
    border-bottom: none !important;
    /*border-bottom: 1px solid rgb(229, 229, 229);*/
}
.ngRow.even {
    background-color: #f3f9f1;
    /*#e0eee8;*/
}
.ngRow.odd {
    background-color: rgb(253, 253, 253);
}
.ngRow.selected {
    background-color: #e0f0e9;
}
.ngRow.canSelect {
    cursor: pointer;
}

.ngViewport{
    height:auto !important;
    min-height: 200px !important;
}
.ngCanvas, .ngViewport, .ngRow, .ngFooterPanel, .ngTopPanel   {
    width: 100% !important;
}
.ngRow {
    border-bottom:none !important;
}

.ngVerticalBarVisible{
    display: none;
}