<script>
    var myPlayer = videojs('sunvideo');
</script>
<div class="">
    <div class="" style="margin-top:10px">
        <div ncy-breadcrumb class="breadcrumb-text ptl"></div>
    </div>
    <div class="pull-right">
        <span class="sun-id">id: {{file._id}}</span>
        <a href="" ng-hide="isOther || isAudio" ng-click="gotoPreview()" class="btn btn-primary"><i class="fa fa-eye"></i> 预览</a>
        <a ng-href="/download/files/{{file._id}}" role="button" class="btn btn-primary" ><i class="fa fa-cloud-download"></i> 下载</a>
        <a href="" role="button" class="btn btn-primary" ng-click="showEditFileDialog()"><i class="glyphicon glyphicon-edit"></i> 编辑</a>
        <div class="pull-right">
            <!--<i class="fa fa-share-alt" style="margin-top:12px" ng-click="changeShare()"></i>-->
            &nbsp;<button class="btn btn-primary"  ng-click="changeShare()"><i class="fa fa-share-alt"></i></button>
        </div>
        <div class="onoffswitch pull-right" ng-show="isSetting">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="shareFile" ng-change="changeOption()">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
         </div>
    </div>

    <!--<div><strong>创建人:</strong>&nbsp; <span>{{file.owner.name}}</span></div>-->
    <!--<div><strong>年级:</strong> &nbsp;  <span ng-show="file.semester" class="inline">{{file.semester.name}}</span><span ng-hide="folder.semester"><span class="label label-default inline">暂无</span></span></div>-->
    <!--<div><strong>科目:</strong> &nbsp; {{file.subject.name}}</div>-->
    <table class="">
        <tr>
            <td><strong> 描述: </strong></td>
            <td style="padding-left:20px"><div ng-show="file.description">{{file.description}}</div><div ng-hide="file.description"><a class="btn btn-success btn-xs" href="#addDescriptionDialog" data-toggle="modal"><i class="fa fa-comments"></i> 添加描述</a></div></td>
            <td>&nbsp;</td>
            <td>
                <!--<i ng-hide="isSetting" class="fa fa-share-alt" ng-click="changeShare()"></i>-->

            </td>
        </tr>
        <tr>
            <td><strong>创建人:  </strong></td>
            <td style="padding-left:20px">{{file.owner.name}}</td>
            <td><strong> 大小: </strong></td>
            <td style="padding-left:20px">{{file.size | fileSizeFilter}}</td>
            <!--<td style="padding-left:20px">{{file.size/1024/1024 | number:2}} MB</td>-->
        </tr>
        <tr>
            <td><strong> 科目: </strong> </td>
            <td style="padding-left:20px">{{file.subject.name}}</td>
            <td><strong> 年级: </strong></td>
            <td style="padding-left:20px"> <span ng-show="file.semester" class="inline">{{file.semester.name}}</span><span ng-hide="folder.semester"><span class="label label-default inline">暂无</span></span></td>
        </tr>
    </table>
    <hr/>
    <!--<div class="col-md-12 col-lg-12">-->
    <div>
        <a id="anchor"> </a>
        <div ng-if="isPDF || isText">
            <!--<a href="" class="anchor" id="previewAnchor"></a>-->
            <iframe ng-src="{{fileUrl}}" width='100%' height="800" autoplay=0 webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div ng-if="isImage" align="center" style="width:100%">
            <img ng-src="{{fileUrl}}" alt="阳光书包文件预览">

        </div>
        <div ng-if="isVideo" >
            <div  style="width:600px;height:400px; margin-left:250px">
                <video   id="sunvideo" class="video-js" preload="auto" data-setup="{}" controls>
                    <source ng-src="{{videoUrl}}" type="{{file.mimetype}}">
                    <!--<source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">-->
                    <!--<source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">-->
                </video>
            </div>

        </div>

        <div ng-if="isAudio" align="center">
            <audio controls>
                <source ng-src="{{fileUrl}}" type="{{file.mimetype}}">
            </audio>
        </div>

        <div ng-if="isOther" align="center">
            <h5 >该文件格式无法预览</h5>
            <p>您可以下载后在本地查看</p>
            <a ng-href="/download/files/{{file._id}}" role="button" class="btn btn-success" ><i class="fa fa-cloud-download"></i> 下载</a>
        </div>
    </div>

        <!--<canvas id="the-canvas" style="border:1px solid black"/>-->
        <!--<iframe src="/view/files/{{file._id}}" width="800px" height="600px" />-->

    <!--</div>-->

</div>




<div class="modal fade" id="editFileDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑文件信息</h4>
            </div>
            <div class="modal-body">
                <form name="editForm" class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">&nbsp;&nbsp;&nbsp;&nbsp;文件名</span></button></span>
                        <input type="text" id="newName" class="form-control"  placeholder="文件名" ng-model="temp.newName" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">&nbsp;&nbsp;&nbsp;&nbsp;描述</span></button></span>
                        <input type="text" id="newDescription" class="form-control"  placeholder="文件描述" ng-model="temp.newDescription">
                    </div>
                    <br/>
                    <strong>原文件:</strong> <span class="fileinput-new "><a ng-href="/download/files/{{file._id}}" style="border-bottom:1px solid;">{{file.originalname}}</a></span>
                    <div class="form-group" style="margin-bottom: 0px; margin-left:60px">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-inverse btn-embossed btn-file">
                                      <span class="fileinput-new"><span class="fa fa-cloud-upload"></span> 修改文件</span>
                                      <span class="fileinput-exists"><span class="fa fa-cloud-upload"></span> 修改文件</span>
                                      <input type="file" name="..." nv-file-select uploader="editFileUploader">
                                    </span>

                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                        </div>
                    </div>
                    <!--<span class="fileinput-new pull-right"><a ng-href="/download/files/{{file._id}}" style="border-bottom:1px solid;">{{file.originalname}}</a></span>-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-btn"><button class="btn" type="button"><span class="fa fa-file"> 文件内容</span></button></span>-->
                        <!--<div class="form-group" style="margin-bottom: -9px">-->
                            <!--<div class="fileinput fileinput-new" data-provides="fileinput">-->
                                    <!--<span class="btn btn-inverse btn-embossed btn-file">-->
                                      <!--<span class="fileinput-new"><span class="fa fa-cloud-upload"></span> 修改文件</span>-->
                                      <!--<span class="fileinput-exists"><span class="fa fa-cloud-upload"></span> 修改文件</span>-->
                                      <!--<input type="file" name="..." nv-file-select uploader="editFileUploader">-->
                                    <!--</span>-->
                                <!--<span class="fileinput-filename"></span>-->
                                <!--<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success btn-lg" ng-click="editFile()" ng-disabled="editForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addDescriptionDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">添加文件描述</h4>
            </div>
            <div class="modal-body">
                <form name="addDescriptionForm"  class="form-group input-group input-group-lg">
                    <input class="form-control" placeholder="请输入文件描述" ng-model="temp.description" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="addDescription()" ng-disabled="addDescriptionForm.$invalid">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>