<div class="container">
    <div class="">
        <div style="font-size:xx-large" ncy-breadcrumb></div>
    </div>
    <div ui-view>
        <table class="table table-striped table-hover">
            <th>科目</th>
            <th>文件夹个数</th>
            <tr ng-repeat="subject in subjects">
                <td> <a ui-sref="state1">{{subject.name}}</a></td>
                <td>10</td>
            </tr>

        </table>
    </div>
</div>


<!--<div>-->
    <!--<table class="table">-->
        <!--<tr ng-repeat="subject in subjects">-->
            <!--<td>{{subject.name}}</td>-->
        <!--</tr>-->

    <!--</table>-->
<!--</div>-->