<div class="container">

    <div ui-view>
        <div class="page-header">
            <h2>阳光书包</h2>
        </div>

        <div class="row-fluid">
            <div class="span4 col-md-4 col-lg-4" style="padding-right:20px; border-right: 1px solid #ccc; height:300px">
                <div class="">
                    <h5 align="center">我的科目
                        <div class="btn-group pull-right">
                            <!--<button class="btn btn-success" type="button"><i class="fa fa-plus-square-o"></i>  添加科目</button>-->
                            <!--<button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button"><span class="caret"></span></button>-->
                            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="fa fa-plus-square-o"></i>  添加科目 <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu dropdown-menu-inverse">
                                <li ng-repeat="subject in subjectsNotIn">
                                    <a href="" ng-click="addSubject(subject)">{{subject.name}}</a>
                                </li>
                                <li ng-hide="subjectsNotIn.length">
                                    <a href="">暂无其他可添加科目</a>
                                </li>
                            </ul>
                        </div><!-- /btn-group -->
                    </h5>
                    <hr/>
                    <br/>
                    <div ng-show="mySubjects.length">
                        <table class="table" id="subject-table">
                            <tr>
                                <th>科目</th>
                                <th>文件夹个数</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="subject in mySubjects">
                                <td><a href="" ng-click="selectSubject(subject._id)"><strong>{{subject.name}}</strong></a></td>
                                <td>{{subject.count || 0}}</td>
                                <td  ng-mouseenter="hover(subject)" ng-mouseleave="hover(subject)"><a href="" ng-show="subject.showDelete" class="button" ng-click="removeSubject(subject)"><i class="fa fa-times-circle text-danger"></i></a></td>
                            </tr>
                        </table>
                    </div>
                    <div ng-hide="mySubjects.length" align="center">
                        您还没有选择科目
                    </div>
                </div>
            </div>
        </div>


        <div class="span4  col-md-4 col-lg-4"  style="padding-right:20px; border-right: 1px solid #ccc; height:300px">
            <div class="col-md-10 col-md-offset-1" align="center">
                <!--<button class="btn btn-info"><i class="fa fa-sitemap"></i> 查看我的班级文件</button>-->
                <h5>查看我的班级文件</h5>
                <hr/>
                <div ng-show="myRooms.length">
                    <ul class="nav nav-list nav-list-bricks">
                        <li ng-repeat="room in myRooms" class="active">
                            <a href="" ng-click="selectRoom(room._id)">
                                {{room.name}}
                                <!--<span class="fui-arrow-right pull-right"></span>-->
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-hide="myRooms.length">
                    <p>您还没有任何班级</p>
                    <a class="btn btn-primary" href="/#/profile"><i class="fa fa-share"></i> 去认领班级</a>
                </div>


            </div>
        </div>

        <div class="span4  col-md-4 col-lg-4">
            <div class="" align="center">
                <!--<button class="btn btn-primary"><i class="fa fa-university"></i> 查看资源库</button>-->
                <h5>查看资源库
                    <button class="btn btn-success pull-right" ng-click="gotoRepo()"><i class=""></i>查看所有</button>
                </h5>
                <hr/>
                <br/>
                <br/>

                <!--<br/>-->
                <!--<br/>-->
                <form action="" class="form-horizontal" role="form">
                    <div class="form-group row">
                        <div class="col-md-5">
                            <select name="" id="selectSubject" class="form-control" data-ng-options="subject.name for subject in mySubjects" data-ng-model="selectedSubject" required>
                                <option style="display:none" value="">请选择科目</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select name="" id="selectSemester" class="form-control" data-ng-options="semester.name for semester in semesters" data-ng-model="selectedSemester">
                                <option style="display:none" value="">请选择年级</option>
                            </select>
                        </div>

                        <button class="btn btn-primary col-md-2" ng-click="gotoRepo()"><i class=""></i>查看</button>
                    </div>

                </form>
            </div>
        </div>


    </div>

    </div>
</div>
