<ui-view>
    <div class="" style="margin-top:10px">
        <div ncy-breadcrumb class="breadcrumb-text ptl"></div>
    </div>
    <div class="inline">
        <ul class="nav nav-pills nav-success pull-left">
            <li ng-class="{true: 'active', false: 'inactive'}[showingFiles]"><a href="" ng-click="showFiles()"><i class="fa fa-files-o"></i> 所有文件</a></li>
            <li ng-class="{true: 'inactive', false: 'active'}[showingFiles]"><a href="" ng-click="showFolders()"><i class="fa fa-folder-o"></i> 所有文件夹</a></li>
        </ul>
        &nbsp;&nbsp;
            <span class="pull-left" ng-show="showingFiles && sharedFilesOfSemester.length">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success">全部</button>
                <button class="btn btn-primary">文档</button>
                <button class="btn btn-primary">电子书</button>
                <button class="btn btn-primary">视频</button>
                <button class="btn btn-primary">音频</button>
                <button class="btn btn-primary">图片</button>
                <button class="btn btn-primary">其他</button>
            </span>
    </div>
    <div ng-if="showingFiles">
        <div ng-show="sharedFilesOfSemester.length">
            <!--<a  role="button" class="btn btn-primary pull-right" data-toggle="modal" href="#createFolderDialog"><span class="fui-folder"></span> 创建书包文件夹</a>-->
            <br/>
            <div class="inner-addon left-addon pull-right" style="">
                <i class="glyphicon glyphicon-search"></i>
                <input type="search" class="form-control" style="width: 250px"  placeholder="搜索" ng-model="filterOptions1.filterText"/>
            </div>
            <br/>

            <div class="table">
                <div class="gridStyle" ng-grid="gridOptions1"></div>
            </div>
        </div>
        <br/>
        <div ng-hide="sharedFilesOfSemester.length" align="center">
            <h4>没有任何文件</h4>
            <!--<a role="button" class="btn btn-success" data-toggle="modal" href="#createFolderDialog"><span class="fui-folder"></span> 创建书包文件夹</a>-->
        </div>
    </div>
    <div ng-if="!showingFiles">
        <div ng-show="sharedFoldersOfSemester.length">
            <!--<a  role="button" class="btn btn-primary pull-right" data-toggle="modal" href="#createFolderDialog"><span class="fui-folder"></span> 创建书包文件夹</a>-->
            <br/>
            <div class="inner-addon left-addon pull-right" style="">
                <i class="glyphicon glyphicon-search"></i>
                <input type="search" class="form-control" style="width: 250px"  placeholder="搜索" ng-model="filterOptions2.filterText"/>
            </div>
            <br/>
            <div class="table">
                <div class="gridStyle" ng-grid="gridOptions2"></div>
            </div>
        </div>
        <br/>
        <div ng-hide="sharedFoldersOfSemester.length" align="center">
            <h4>没有任何文件夹</h4>
            <!--<a role="button" class="btn btn-success" data-toggle="modal" href="#createFolderDialog"><span class="fui-folder"></span> 创建书包文件夹</a>-->
        </div>
    </div>
</ui-view>


<!--------------------------------Modal--------------------->
<div class="modal fade" id="previewFileDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="overflow-y:scroll">
    <div class='modal-dialog modal-lg' style="left: auto">
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">{{file.originalname}}
                    <span class="pull-right">
                        <!--&lt;!&ndash; LikeBtn.com BEGIN &ndash;&gt;-->
                        <!--<span class="likebtn-wrapper" data-theme="ugreen" data-lang="zh_CN"></span>-->
                        <!--<script type="text/javascript" src="//w.likebtn.com/js/w/widget.js" async="async"></script>-->
<!--&lt;!&ndash; LikeBtn.com END &ndash;&gt;-->
                        <a  ng-href="/download/files/{{file._id}}" role="button" class="btn btn-primary" ><i class="fa fa-cloud-download"></i> 下载</a> &nbsp;&nbsp;&nbsp;
                    </span>
                </h4>
                &nbsp;&nbsp;<span >{{file.description}}描述</span>
                <!--<br/>-->
                <div class="like-button">
                    <input type="checkbox" style="display:none" value="" id="myradiobutton" data-ng-model="liked" data-ng-change="clickLike(file._id)">
                    <label id="likeButton" for="myradiobutton" class="fa fa-thumbs-o-up thumps-up-{{liked}} "></label>
                    <span ng-show="file.like && file.like.length" class="small">{{file.like.length}}人喜欢这个文件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="small" ng-hide="file.like && file.like.length">你喜欢这个文件吗？</span>
                </div>


            </div>
            <div class='modal-body'>
                <div ng-if="type.isPDF || type.isText">
                    <!--<a href="" class="anchor" id="previewAnchor"></a>-->
                    <iframe ng-src="{{fileUrl}}" width='100%' height="800" autoplay=0 webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
                <div ng-if="type.isImage" align="center">
                    <img ng-src="{{fileUrl}}" alt="阳光书包文件预览"  style="width:100%">

                </div>
                <div ng-if="type.isVideo" >
                    <div  style="width:100%;height:500px;" align="center">
                        <video   id="sunvideo" class="video-js" preload="auto" data-setup="{}" controls>
                            <source ng-src="{{videoUrl}}" type="{{file.mimetype}}">
                            <!--<source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">-->
                            <!--<source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">-->
                        </video>
                    </div>

                </div>

                <div ng-if="type.isAudio" align="center">
                    <audio controls>
                        <source ng-src="{{fileUrl}}" type="{{file.mimetype}}">
                    </audio>
                </div>

                <div ng-if="type.isOther" align="center">
                    <h5 >该文件格式无法预览</h5>
                    <p>您可以下载后在本地查看</p>
                    <a ng-href="/download/files/{{file._id}}" role="button" class="btn btn-success" ><i class="fa fa-cloud-download"></i> 下载</a>
                </div>

            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-inverse" ng-click="closePreview()">关闭</button>&nbsp;&nbsp;
                    <!--<button class="btn btn-success " ng-click="assignToRooms()"> 分配</button>-->
                </div>
            </div>
        </div>
    </div>
</div>



