<div ui-view>
    <div class="" style="margin-top:10px">
        <div ncy-breadcrumb class="breadcrumb-text ptl"></div>
    </div>
    <div ng-show="folders.length">
        <div class="inner-addon left-addon pull-left" style="">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" style="width: 250px"  placeholder="搜索" ng-model="filterOptions.filterText"/>
        </div>

        <a  role="button" class="btn btn-primary pull-right" data-toggle="modal" href="#createFolderDialog"><span class="fui-folder"></span> 创建书包文件夹</a>
        <br/>
        <div class="table">
            <div class="gridStyle" ng-grid="gridOptions" ng-click="selectFolder()"></div>
        </div>
    </div>

    <div ng-hide="folders.length" align="center">
        <h4>还没有任何文件夹</h4>
        <a role="button" class="btn btn-success" data-toggle="modal" href="#createFolderDialog"><span class="fui-folder"></span> 创建书包文件夹</a>

    </div>
</div>



<div class="modal fade" id="createFolderDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times</button>
                <h4 class="modal-title">创建书包文件夹</h4>
            </div>
            <div class="modal-body">
                <form name="createFolderForm">
                    <div class="input-group">
                        <span class="input-group-addon">名称</span>
                        <input type="text" class="form-control" placeholder="*请输入文件夹名称" data-ng-model="newFolder.name" required/>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">年级</span>
                        <select class="form-control select-primary" id="selectSemester" data-ng-options="semester.name for semester in semesters" data-ng-model="newFolder.semester" required>
                            <option style="display:none" value="">请选择年级</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" ng-click="createFolder()" ng-disabled="createFolderForm.$invalid" class="btn btn-success" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editFolderDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑文件夹</h4>
            </div>
            <div class="modal-body">
                <form name="editForm" class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="fa fa-folder-open-o">文件夹名</span></button></span>
                        <input type="text" id="newName" class="form-control"  placeholder="文件夹名" ng-model="temp.newName" required>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="fa fa-graduation-cap">适用年级</span></button></span>
                        <select class="form-control select-primary" id="editSemester" data-ng-options="semester.name for semester in semesters" data-ng-model="temp.newSemester" required>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success btn-lg" ng-click="editFolder(row)" ng-disabled="editForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>

