.manage-nav {
    margin-top: 50px;
}
.offset-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.myapps {
    width: 100%;
}

.myapps th td {
    /*background-color: green;*/
    /*color: white;*/
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
}

/*.assigned-apps td {*/
    /*background-color: limegreen;*/
    /*color: white;*/
/*}*/

.myapps tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    line-height: 40px;
}


.not-assigned-apps {
    width: 100%
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;

    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.xiaoshu {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    color: #006400;
}

.xiaoshu2 {
    font-family: 'Lucida Grande', sans-serif;
    font-size: large;
    color: limegreen;
    margin-left: 100px;
    /*align-content: center;*/

}