.manage-nav {
    margin-top: 50px;
}
.offset-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;


}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
