<div>
    <!--<span class="small sun-id" >id: {{theRoom._id}}</span>-->
    <div class="class-header">
        <span ng-hide="editorEnabled">
        <span class="h4">{{theRoom.name}}
        </span>
            <a href="" ng-click="enableEditor()" class="glyphicon glyphicon-edit text-success"></a>
        </span>
        <span ng-show="editorEnabled" class="form-inline">
            <input type="text" style="color: black; font-size: large" class="form-control" ng-model="newRoomName"/>
            <a role="button" ng-click="save()" class="btn btn-primary btn-info glyphicon glyphicon-ok" >保存</a>
            <a role="button" ng-click="disableEditor()" class="btn btn-default glyphicon glyphicon-remove" >取消</a>
        </span>

        <div>
            <a href class="btn btn-danger btn-sm pull-right" style="margin:0 5px" ng-click="disclaimRoom()" ng-show="theRoom.type==='admin'"><span class="glyphicon glyphicon-leaf"></span>  取消认领</a>
            <a href class="btn btn-danger btn-sm pull-right" style="margin:0 5px" ng-click="deleteRoom()" ng-show="theRoom.type==='teaching'"><span class="glyphicon glyphicon-trash"></span>  删除小组</a>
            <!-- Single button -->
            <!--<a href class="btn btn-warning btn-sm pull-right" style="margin:0 5px" ng-click="toInviteTeacher()" ng-show="theRoom.type==='teaching'"><span class="glyphicon glyphicon-plus-sign"></span>  添加管理老师</a>-->
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"  style="margin:0 5px" data-toggle="dropdown" aria-expanded="false">
                   <span class="glyphicon glyphicon-plus"></span> 添加学生 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
                    <li><a href="" ng-click="toAddStudents()"><i class="fa fa-list"></i>&nbsp;  从学生列表添加</a></li>
                    <li><a href="#createStudentDialog" data-toggle="modal"><i class="fa fa-user"></i>&nbsp;  单个创建并添加</a></li>
                    <li><a href="#addStudentsBatchDialog" data-toggle="modal"><i class="fa fa-users"></i>&nbsp; 批量创建并添加</a></li>
                    <li><a href="" ng-click="toAddStudentsFromOtherRoom()"><i class="fa fa-paw"></i>&nbsp; 从其他班级添加</a></li>
                </ul>
            </div>

            <!--<a class="btn btn-warning btn-sm pull-right"  ng-click="toAddStudents()">从学生列表中添加</a>-->
            <!--<a class="btn btn-warning btn-sm pull-right" id="room-btn-createStudents" href="#addStudentsBatchDialog2" data-toggle="modal">批量创建并添加</a>-->
        </div>
       <span class="">学生人数：{{students.length}} &nbsp ( 其中{{noTabletNum}}人尚未登录晓书 )</span>
        <!--<br/>-->
    </div>

    <!--<br>-->
    <div class="table" ng-show="students && students.length > 0">
        <div class="inner-addon left-addon pull-right" style="margin-top:10px">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" style="width: 250px"  placeholder="搜索" ng-model="filterOptions.filterText"/>
        </div>
        <br>
        <br/>
        <div class="gridStyle" ng-grid="gridOptions"  ></div>
    </div>
    <div ng-show="!students || students.length<=0" align="center">
        <h3 align="center">还没有任何学生，您可以</h3>
        <div align="center">
            <a class="btn btn-success "  href="#addStudentsBatchDialog" data-toggle="modal">批量创建并添加</a> 或者
            <a class="btn btn-success "  ng-click="toAddStudents()">从学生列表中添加</a>
        </div>
    </div>

</div>

<!---------------------------MODAL------------------------->
<div class="modal fade" id="addStudentsDialog" tabindex="-1" role="dialog" aria-labelledby="addStudentsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addStudentsModalLabel">添加学生</h4>
            </div>
            <div class="modal-body">
                <div class="inner-addon left-addon" style="margin-top:10px">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control"  placeholder="搜索" ng-model="filterOptions2.filterText"/>
                </div>
                <p>已选学生： {{selectedStudents.length}}人</p>
                <div class="table">
                    <div class="gridStyle style2"  ng-grid="gridOptions2"></div>
                </div>
                <div ng-if="!isCreatingStudent" class="pull-right">
                    <button class="btn btn-success pull-right" ng-click="toCreateStudent()">创建学生</button>
                    <p class="pull-right">想添加的学生不在此列表中?&nbsp;&nbsp;</p>
                </div>
                <div ng-if="isCreatingStudent">
                    <form class="form-group form-inline pull-right" name="newStudentForm">
                        <!--<label for="inputKey">Key</label>-->
                        <input type="text" class="form-control" placeholder="*新学生姓名"  ng-model="newStudent.name" required >
                        <!--<label for="inputValue">Value</label>-->
                        <input type="text" class="form-control" placeholder="*新学生用户名"  ng-model="newStudent.username" required>
                        <button class="btn btn-success" ng-click="createStudent()" ng-disabled="newStudentForm.$invalid">创建</button>
                        <button class="btn btn-inverse" ng-click="cancelCreateStudent()">取消</button>
                    </form>
                </div>
                <br>
                <br>
                <!--<br>-->
                <button class="btn btn-primary  btn-block" ng-click="addStudentsToRoom()">添加</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">编辑学生</h4>
            </div>
            <div class="modal-body">
                <form name="editForm" class="form-group">
                    <div class="input-group edit">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="fui-user">姓名</span></button></span>
                        <input tabindex="1" type="text" id="newName" class="form-control"  placeholder="新姓名" ng-model="temp.newName" required>
                    </div>
                    <br>
                    <div class="input-group edit">
                        <span class="input-group-btn"><button class="btn" type="button"><span class="">用户名</span></button></span>
                        <input tabindex="2" type="text" id="newUsername" class="form-control" placeholder="新用户名" ng-model="temp.newUsername" required>
                    </div>
                    <br/>
                    <div class="input-group edit">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><span class="fui-calendar">生日</span></button></span>
                        <input tabindex="3" type="text" class="form-control" name="birthday" placeholder="yyyy-mm-dd  (如 2000-01-01)" ng-model="temp.newBirthday" ng-pattern="/^(\d{4})\-(\d{2})\-(\d{2})$/"/>
                    </div>
                    <span class="sun-error" ng-show="editForm.birthday.$error.pattern">生日格式应为 yyyy-mm-dd，如 2000-01-01.<br/>如果只知道月份不知道是哪天，请统一使用1号</span>

                </form>
                <span style="color: red" ng-show="error">修改失败，可能由于用户名已存在。请修改用户名后重试。</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button tabindex="4" class="btn btn-success btn-lg" ng-click="editStudent(row)" ng-disabled="editForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addStudentsBatchDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">批量创建添加学生</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills nav-justified">
                    <li ng-class="{'active': manualState}" ><a href="" ng-click="toAddManual()" data-toggle="tab" >手动创建</a></li>
                    <li ng-class="{'active': autoState}"><a href="" ng-click="toAddAuto()" data-toggle="tab">自动创建</a></li>
                </ul>
                <div id="subtab-container">
                    <div id="subtab-tab-content" class="">
                        <div class="col-md-12" id="manualState" ng-show="manualState">
                            <br>
                            <form name="manualForm">
                                <li>请把学生姓名，用户名逐行输入到文本框中（也可以直接从电子文档中复制粘贴）</li>
                                <!--<br>-->
                                <li>我们会创建该学生账号并添加到该班级</li>
                                <li>如果您想添加已存在的学生，请去所有学生列表添加</li>
                                <!--<br>-->
                                <li>每行一个学生，请按照如下格式输入：</li>
                                <!--<br>-->
                                <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名1，用户名1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 或 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 姓名1 &nbsp;  用户名1 </p>
                                <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名2，用户名2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   姓名2 &nbsp; 用户名2 </p>
                                <span style="color: red" ng-show="temp.manualCreateError">以下学生创建失败，可能由于用户名已存在，请修改用户名后重试</span>

                                <textarea ng-model="newStudentsList" style="height: 200px" placeholder="姓名1， 用户名1
姓名2， 用户名2" class="form-control" required></textarea>
                                <p>提示：分隔符可以使用半角逗号、全角逗号和空格。</p>
                            </form>
                            <button  type="submit" class="btn btn-success btn-block" ng-click="manualCreateStudents()" ng-disabled="manualForm.$invalid">添加</button>
                        </div>

                        <div id="autoState" class="col-md-12" ng-show="autoState">
                            <br>
                            <li>请您把学生姓名逐行输入到下方的文本框中（也可以直接从电子文档中复制粘贴）</li>
                            <!--<br>-->
                            <li>每行请只输入一个名字</li>
                            <!--<br>-->
                            <li>我们会按照输入顺序自动生成学生用户名（推荐您按照学号顺序输入）</li>
                            <!--<br>-->
                            <li>生成的学生用户名格式为：学校代号+班级代号+数字</li>
                            <!--<br>-->
                            <div ng-hide="theRoom.code">
                                <div ng-if="!isAddingCode">
                                    <button class="btn btn-success pull-right" ng-click="toAddCode()">添加班级代号</button>
                                    <p class="pull-right" style="color:orangered">您还没有添加班级代号 &nbsp;</p>
                                    <br>
                                </div>
                                <div ng-show="isAddingCode">
                                    <form class="form-group form-inline pull-right" name="addCodeForm">
                                        <input type="text" class="form-control" ng-model="newCode" placeholder="请输入班级代号"  required>
                                        <button class="btn btn-success" ng-click="addCode()" ng-disabled="addCodeForm.$invalid">添加</button>
                                        <button class="btn btn-inverse" ng-click="cancelAddCode()">取消</button>
                                    </form>
                                </div>
                                <br>
                            </div>
                            <form name="autoForm">
                                <textarea class="form-control" rows="10" placeholder="学生姓名1
学生姓名2" ng-model="newNamesList" required></textarea>
                                <br>
                                <span style="color: red" ng-show="temp.student_count_max">班级人数不能超过100人</span>
                                <span style="color: red" ng-show="temp.autoCreateError">创建学生失败，请重试，或者手动创建</span>
                            </form>
                            <button class="btn  btn-success btn-block"  ng-click="autoCreateStudents()" ng-disabled="autoForm.$invalid || !theRoom.code">生成</button>
                        </div>
                    </div>
                </div>
                <button class="btn" style="background-color:white" ></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStudentsFromOtherRoomDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">从其他班级中添加</h4>
            </div>
            <div class="modal-body">
                    <tabset type="pills">
                        <tab ng-repeat="room in otherRooms" ng-click="getStudentsOfRoom(room._id)"  heading="{{room.name}}" active="room.active" disabled="room.disabled">
                            <!--<hr>-->
                            <div ng-show="room.students.length">
                                <table class="sun-table">
                                    <tr>
                                        <th width="25%">
                                            <a role="button"  class="btn btn-success" style="width:70px" ng-click="checkAll(room)"><span ng-show="room.checkall">全&nbsp;&nbsp;&nbsp;选</span><span ng-hide="room.checkall">全不选</span></a>
                                        </th>
                                        <th>学生姓名</th>
                                        <th>学生用户名</th>
                                    </tr>
                                    <tr ng-repeat="student in room.studentsNotInRoom">
                                        <td>
                                            <checkbox median class="btn btn-primary" style="margin-top:7px;margin-left:15px" ng-model="student.selected"></checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                        <td>{{student.name}}</td>
                                        <td>{{student.username}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-hide="room.students.length">
                                <h4 align="center">{{room.name}}没有可添加的学生</h4>
                            </div>

                        </tab>
                    </tabset>
                <!--<div class="table">-->
                    <!--<div class="inner-addon left-addon" style="margin-top:2px">-->
                        <!--<i class="glyphicon glyphicon-search"></i>-->
                        <!--<input type="search" class="form-control" style="width: 250px"  placeholder="搜索" ng-model="filterOptions3.filterText"/>-->
                    <!--</div>-->
                    <!--<div class="gridStyle style2" ng-grid="gridOptions3"  ></div>-->
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" ng-click="addStudentsOfOtherRoomToRoom()">确定</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">创建学生</h4>
            </div>
            <div class="modal-body">
                <form  name="studentForm" class="form-group">
                    <div class="input-group new focus">
                        <span class="input-group-addon"><i class="fui-user"></i>姓名</span>
                        <input type="text" class="form-control" placeholder="*新学生姓名" ng-model="newStudent.name" required>
                    </div>
                    <!--<input type="text" class="form-control" placeholder="*新学生姓名" ng-model="newStudent.name" required>-->
                    <br>
                    <div class="input-group new focus">
                        <span class="input-group-addon">用户名</span>
                        <input type="text" class="form-control" placeholder="*新学生用户名" ng-model="newStudent.username" required>
                    </div>
                    <!--<input type="text" class="form-control" placeholder="*新学生用户名" ng-model="newStudent.username" required>-->
                    <br/>
                    <div class="input-group new focus">
                        <span class="input-group-addon"><span class="fui-calendar">生日</span></span>
                        <input type="text" class="form-control" name="birthday" placeholder="yyyy-mm-dd  (如 2000-01-01)" ng-model="newStudent.birthday" ng-pattern="/^(\d{4})\-(\d{2})\-(\d{2})$/"/>
                    </div>
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn" type="button"><span class="fui-calendar">生日</span></button></span>-->
                        <!--<input type="text" class="form-control" name="birthday" placeholder="yyyy-mm-dd  (如 2000-01-01)" ng-model="newStudent.birthday" ng-pattern="/^(\d{4})\-(\d{2})\-(\d{2})$/"/>-->
                    <!--</div>-->
                    <span class="sun-error" ng-show="studentForm.birthday.$error.pattern">生日格式应为 yyyy-mm-dd，如 2000-01-01.<br/>如果只知道月份不知道是哪天，请统一使用1号</span>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                <button class="btn btn-success" ng-click="createAddStudent()" ng-disabled="studentForm.$invalid">确定</button>
            </div>
        </div>
    </div>
</div>
